<h3>Editando servidor: <%= @server.label %></h3>

<%= render 'form' %>

<table>
  <tr>
    <td>
      <%= button_to 'Mostrar', @server, method: :get %>
    </td>
    <td>
      <%= button_to 'Retornar', servers_path, method: :get %>
    </td>
  </tr>
</table>
