<h1>Editing server</h1>

<%= render 'form' %>

<table>
  <tr>
    <td>
      <%= button_to 'Show', @server, method: :get %>
    </td>
    <td>
      <%= button_to 'Return', servers_path, method: :get %>
    </td>
  </tr>
</table>
