<div id="playback_controls">
  <% /^(?<date>\d+-\d+-\d+)\s(?<time>\d+)/ =~ String(Time::new) %>
  <label>
    Data <h6>(ano/mês/dia)</h6>: <input type="text" name="StartDate" id="StartDate" value="<%= date %>"/>
  </label>
  <br/>
  <label>
    Hora <h6>(UTC*)</h6>: <input type="text" name="StartTime" value="<%= time %>:00"/>
  </label>
  <br/>
  <h6>*Horários no servidor são em UTC, que, em relação ao horário de Brasília, são +3 horas.
    Portanto, 10:00 no horário real é visto como 13:00 no servidor.</h6>
  <input type="button" value="Visualizar" onclick="AxVideoPlayback_Start()"/>
</div>
<script type="text/javascript">
    calendar.set("StartDate");
</script>