<div id="playback_controls">
  <% /^(?<date>\d+-\d+-\d+)\s(?<time>\d+)/ =~ String(Time::new) %>
  <fieldset>
    <ol>
      <li>
        <label for="StartDate">Data:</label>
        <input type="text" name="StartDate" id="StartDate" value="<%= date.split('-').reverse.join('-') %>"/>
      </li>
      <li>
        <label for="StartTime">Hora:</label>
        <input type="text" name="StartTime" value="<%= time %>:00"/>
      </li>
      <li>
        <input type="button" value="Visualizar" onclick="AxVideoPlayback_Start()"/>
      </li>
    </ol>
  </fieldset>
</div>
<script type="text/javascript">
    calendar.set("StartDate");
</script>