<div id="playback_controls">
  <% /^(?<date>\d+-\d+-\d+)\s(?<time>\d+)/ =~ String(Time::new) %>
  <fieldset>
    <ol>
      <li>
        <label for="StartDate">Data <em>(ano / mês / dia)</em>:</label>
        <input type="text" name="StartDate" id="StartDate" value="<%= date %>"/>
      </li>
      <li>
        <label for="StartTime">Hora:</label>
        <input type="text" name="StartTime" value="<%= time %>:00"/>
      </li>
      <li>
        <input type="button" value="Visualizar" onclick="AxVideoPlayback_Start()"/>
      </li>
      <!--<li>
        <h6>*Horários no servidor são em UTC, que, em relação ao horário de Brasília, são +3 horas.
          Portanto, 10:00 no horário real é visto como 13:00 no servidor.</h6>
      </li>-->
    </ol>
  </fieldset>
</div>
<script type="text/javascript">
    calendar.set("StartDate");
</script>