<div id="video_object" style='text-align: center; padding: 5px'>
    <object classid='clsid:37BEA57F-131B-49C1-B6FB-6D9E78F41B19'
            width='320'
            height='240'
            id='AxVideoControl'
            EnableJavaScript='true'
            codebase='ADSDK.IVideoControl'>
        <p>Plugin American Dynamics SDK não foi encontrado.<br/>
            <a href='vs3_plugin_setup.zip'>Clique aqui</a> para instalá-lo.</p>
    </object>
    <br>
    <button id="select" onclick="setStyle(this.id)">Selecionar</button>
    <button id="clear" onclick="unsetStyle(this.id)">Apagar</button>
</div>
