<p>Armazem em visualizaçao: <%= @warehouse.label %></p>
<p>Favor selecionar abaixo o que deseja visualizar:</p>
<ul>
  <li>
    Visualizar imagens ao vivo.
  </li>
  <li>
    Visualizar imagens gravadas.
  </li>
</ul>