<!--
<p>Armazem em visualizaçao: <%= @warehouse.label %></p>
<p>Favor selecionar abaixo o que deseja visualizar:</p>
<ul style="list-style-type: none;">
  <li>
    <%= link_to 'Visualizar imagens ao vivo', live_path(w: @warehouse.id) %>
  </li>
  <li>
    <%= link_to 'Visualizar imagens gravadas', playback_path(w: @warehouse.id) %>
  </li>
</ul>
-->
