<div style='text-align: center'>
  <p id='header'></p>
  <input type='button'
         id='startButton'
         value='Start test.'
         onclick='startButton_onclick()'
  />
  <p id='qtObj'></p>
  <h6>Debug rand: <%= rand %></h6>
</div>
