<table id="home_table" border='0'>
  <tr>
    <td>
      <!--<button id="live" >Live View</button>
      <br>-->
      <button id="playback">Playback</button>
    </td>
    <td>
      <button id="grid_1" onclick="SetLayoutX1()">1x1</button>
    </td>
    <td>
      <button id="grid_4" onclick="SetLayoutX2()">2x2</button>
    </td>
    <td>
      <button id="grid_9" onclick="SetLayoutX3()">3x3</button>
    </td>
    <td>
      <button id="grid_16" onclick="SetLayoutX4()">4x4</button>
    </td>
    <td>
      <button id="grid_2+8" onclick="SetLayoutX2p8()">2+8</button>
    </td>
    <td>
      <button id="grid_1+12" onclick="SetLayoutX1p12()">1+12</button>
    </td>
  </tr>
  <tr>
    <td>
      <ol class="tree">

        <% Warehouse::all.each do |warehouse| %>

            <% warehouse.servers.each do |server| %>
                <li>
                  <label for="<%= server.id %>"><%= server.label %></label>
                  <input type="checkbox" id="<%= server.id %>>"/>
                  <ol>
                    <% server.cameras.each do |camera| %>
                        <li class="file"><a href="#" onclick="AxVideoControlStart()"><%= camera.label %></a></li>
                    <% end %>
                  </ol>
                </li>
            <% end %>
        <% end %>
      </ol>
    </td>
    <td colspan="6" rowspan="2">
      <div id="video_object" style='text-align: center; padding: 5px'>
        <object classid='clsid:37BEA57F-131B-49C1-B6FB-6D9E78F41B19'
                width='640'
                height='480'
                id='AxVideoControl'
                EnableJavaScript='true'
                codebase='ADSDK.IVideoControl'>
          <p>Plugin American Dynamics SDK não foi encontrado.<br/>
            <a href='vs3_plugin_setup.zip'>Clique aqui</a> para instalá-lo.</p>
        </object>
        <script type="text/vbscript">
          <!--
              'Option Explicit
              'Dim layout_set = False
              Sub AxVideoControlStart()
                  'MsgBox "Within AxVideoControlStart"

                  camera_id = 23
                  address  = "177.0.200.3"
                  username = "admin"
                  password = "ibtech"

                  'If layout_set = False Then SetLayoutX1()

                  AxVideoControl.MediaStreamRender 0, "wnvr://" & username & ":" & password & "@" & address & "/media/" & camera_id & "/video/0"
              End Sub

              Sub SetLayoutX1()
                  Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='1x1' Rows='1' Columns='1' AspectRatio=':3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /></Layout>"
                  AxVideoControl.SetPaneLayout Layout
                  'layout_set = True
              End Sub

              Sub SetLayoutX2()
                  Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='2x2' Rows='2' Columns='2' AspectRatio='4:3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='1' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='0' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='1' IsMasterPane='false' /></Layout>"
                  AxVideoControl.SetPaneLayout Layout
                  'layout_set = True
              End Sub

              Sub SetLayoutX3()
                  Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='3x3' Rows='3' Columns='3' AspectRatio='4:3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='1' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='2' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='0' IsMasterPane='false' /><Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='1' IsMasterPane='false' /><Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='2' IsMasterPane='false' /><Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' /><Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' /><Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' /></Layout>"
                  AxVideoControl.SetPaneLayout Layout
                  'layout_set = True
              End Sub

              Sub SetLayoutX4()
                  Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='4x4' Rows='4' Columns='4' AspectRatio='4:3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='1' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='2' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='3' IsMasterPane='false' /><Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='0' IsMasterPane='false' /><Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='1' IsMasterPane='false' /><Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='2' IsMasterPane='false' /><Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='3' IsMasterPane='false' /><Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' /><Pane Id='9' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' /><Pane Id='10' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' /><Pane Id='11' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='3' IsMasterPane='false' /><Pane Id='12' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='0' IsMasterPane='false' /><Pane Id='13' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='1' IsMasterPane='false' /><Pane Id='14' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='2' IsMasterPane='false' /><Pane Id='15' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='3' IsMasterPane='false' /></Layout>"
                  AxVideoControl.SetPaneLayout Layout
                  'layout_set = True
              End Sub

              Sub SetLayoutX2p8()
                  Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='1+8' Rows='4' Columns='4' AspectRatio='4:3'><Pane Id='0' RowSpan='2' ColumnSpan='2' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='2' ColumnSpan='2' RowNumber='0' ColumnNumber='2' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' /><Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' /><Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='3' IsMasterPane='false' /><Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='0' IsMasterPane='false' /><Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='1' IsMasterPane='false' /><Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='2' IsMasterPane='false' /><Pane Id='9' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='3' IsMasterPane='false' /></Layout>"
                  AxVideoControl.SetPaneLayout Layout
                  'layout_set = True
              End Sub

              Sub SetLayoutX1p12()
                  Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='1+12' Rows='4' Columns='4' AspectRatio='4:3'><Pane Id='0' RowSpan='2' ColumnSpan='2' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='2' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='3' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='2' IsMasterPane='false' /><Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='3' IsMasterPane='false' /><Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' /><Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' /><Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' /><Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='3' IsMasterPane='false' /><Pane Id='9' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='0' IsMasterPane='false' /><Pane Id='10' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='1' IsMasterPane='false' /><Pane Id='11' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='2' IsMasterPane='false' /><Pane Id='12' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='3' IsMasterPane='false' /></Layout>"
                  AxVideoControl.SetPaneLayout Layout
                  'layout_set = True
              End Sub
            -->
        </script>
      </div>
    </td>
  </tr>
  <!--<tr>
    <td>
      <table>
        <tr>
          <td colspan="3">
            <button>UP</button>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <button>LEFT</button>
          </td>
          <td>
            <button>ZOOM IN</button>
          </td>
          <td rowspan="2">
            <button>RIGHT</button>
          </td>
        </tr>
        <tr>
          <td>
            <button>ZOOM OUT</button>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button>DOWN</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>-->
</table>

<br>