<table id="home_table" border='1'>
  <tr>
    <td>
      <%= render 'left_panel' %>
    </td>
    <td>
      <div id="video_object">
        <%= render 'playback_controls' if playback? %>
        <%= render 'video_control' %>
      </div>
    </td>
    <td>
      <%= render 'right_panel' %>
    </td>
  </tr>
</table>