<div style='text-align: center'>
  <h1>Video Server 3</h1>
  <h2>Debug rand: <%= rand %></h2>
  <p id='qtObj'></p>
  <input type='button'
         id='startButton'
         value='Start test.'
         onclick='startButton_onclick()'
  />
</div>
