<%= render 'left_panel' %>
<%= render 'right_panel' %>
<%= render 'video_control' %>

<!--<table id="home_table" border='1'>
  <tr>
    <td>
      <%#= render 'left_panel' %>
    </td>
    <td>
      <div id="video_object">
        <%#= render 'video_control' %>
        <%#= render 'playback_controls' if playback? %>
      </div>
    </td>
    <td>
      <%#= render 'right_panel' %>
    </td>
  </tr>
</table>-->