<h3>Live</h3>
<p style="text-align: center;">
  <object classid='clsid:37BEA57F-131B-49C1-B6FB-6D9E78F41B19'
          height=480
          width=640
          id='AxVideoControl'
          EnableJavaScript='true'
          codebase='ADSDK.IVideoControl'>
    ActiveX not present!
  </object>
</p>

<script type="text/vbscript">
  Sub AxVideoControl_OnCreated(resultCode)
  AxVideoControl.SetPaneLayout "<%= @pane_layout %>"
  AxVideoControl.resize
  UserName = "<%= Server::first.username %>"
  Password = "<%= Server::first.password %>"
  UnitAddress = "<%= Server::first.address %>"
  paneCount = 1
  streamUri = "nvr://" & UserName & ":" & Password & "@" & UnitAddress
  For i = 0 To paneCount
  cameraUri = streamUri & "/media/" & i & "/video/0"
  AxVideoControl.MediaStreamRender i, cameraUri
  Next

  'Set StreamingInterface = AxVideoControl.GetInterface("ADSDK.IStreaming")
  MsgBox("Testing within sub procedure.")
  End Sub
</script>
