<h3>Playback</h3>

<div style="text-align: center;">
  <label>
    Data: <input type="text" name="StartDate" id="date" value="2012-11-10"/>
    <br>
    Hora: <input type="text" name="StartTime" value="23:00"/>
    <br>
  </label>
  <script type="text/javascript">
      calendar.set("date");
  </script>
  <input type="button" value="Executar" onclick="btnStartEx_Click()"/>

</div>

<!--
  Standard date and time:
  2012/11/10 23:00:00.00
-->
<div style="text-align: center;">

  <p id='qtObj'>
    <object classid='clsid:37BEA57F-131B-49C1-B6FB-6D9E78F41B19'
            height=480
            width=640
            id='AxVideoControl'
            EnableJavaScript='true'
            codebase='ADSDK.IVideoControl'>
      ActiveX not present!
    </object>
  </p>

</div>

<script language="vbscript">
  <!--
    Sub AxVideoControl_OnCreated(resultCode)

      ' 1x1
      AxVideoControl.SetPaneLayout "<?xml version='1.0' encoding='utf-8' ?>  <Layout xmlns='urn:VideoLayoutSchema' Name='1\D71' Rows='1' Columns='1' AspectRatio='4:3'>  <Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' />  </Layout>"

      AxVideoControl.Resize

    End Sub

    Sub btnStartEx_Click()

      Dim startDateTime
      Dim streamUri

      startDateTime = Replace(StartDate.Value, "-", "") + Replace(StartTime.Value, ":", "") + "0000"
      streamUri = "nvr://admin:VIDEO!edge23@192.168.1.106/media/0/video/0/"
      Set vidControlEx = AxVideoControl.GetInterface("ADSDK.IStreamingPlayback")
      vidControlEx.OpenStreamEx( 0, streamUri, startDateTime, false, false, 10000 )
      vidControlEx = NULL

    End Sub

    'Call btnStartEx_Click()
  -->
</script>