<h3>Playback</h3>
<p id='qtObj'>
  <object classid='clsid:37BEA57F-131B-49C1-B6FB-6D9E78F41B19'
          height=480
          width=640
          id='AxVideoControl'
          EnableJavaScript='true'
          codebase='ADSDK.IVideoControl'>
    ActiveX not present!
  </object>
</p>