<h3>Editando câmera</h3>

<%= render 'form' %>

<table>
  <tr>
    <td>
      <%= button_to 'Mostrar', @camera, method: :get %>
    </td>
    <td>
      <%= button_to 'Retornar', cameras_path, method: :get %>
    </td>
  </tr>
</table>
