<h1>Editing camera</h1>

<%= render 'form' %>

<table>
  <tr>
    <td>
      <%= button_to 'Show', @camera, method: :get %>
    </td>
    <td>
      <%= button_to 'Return', cameras_path, method: :get %>
    </td>
  </tr>
</table>
