/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@mixin base-style {
  margin: {
    top: 2px;
    bottom: 2px;
  }
  background-color: #cccccc;
}

@mixin border-style {
  border: {
    style: dotted;
    width: 1px;
  }
}

#header {
  @include base-style;
  @include border-style;

  text-align: center;
  height: 102px;

  #image {
    height: 100px;
    background-color: #ffffff;
    border: {
      width: 1px;
    }
  }
}

#contents {
  width: 100%;
  text-align: center;

  #admin_table {
    text-align: center;
    padding: 3px;
    margin: {
      left: auto;
      right: auto;
    }

    td, th {
      padding: 10px;
    }
  }
}

#footer {
  @include base-style;
  @include border-style;

  float: none;
  clear: both;

  text-align: center;
  p {
    font-size: 80%;
    margin: 0 0;
  }
}
