// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
$panel-base-height: 640px;
$video-control-width: 70%;

@mixin panel-base {
  width: ( 100% - $video-control-width ) / 2;
  height: $panel-base-height;
  overflow: auto;

  border: {
    style: dotted;
    width: 1px;
  }

  margin: {
    top: 2px;
    bottom: 2px;
  }
  //background-color: #cccccc;

  h1 {
    font: {
      size: medium;
      variant: small-caps;
      weight: bold;
    }
    border: {
      bottom: {
        style: solid;
        width: 1px;
      }
    }
    padding: {
      bottom: 10px;
    }
  }
}

#left_panel {
  @include panel-base;

  float: left;

  #selected {
    font: {
      weight: bold;
      height: 12px;
      size: 10px;
    };
  }

  input {
    width: 146px;
  }

  .grid {
    button {
      width: 32px;
    }
  }


}

#right_panel {
  @include panel-base;

  float: right;

  ul {
    padding: {
      left: 15px;
      right: 10px;
    }
  }

  li {
    position: relative;
    list-style: none;
    margin-left: -1px !important;
  }

  a {
    background: url(camera_icon.png) 0 0 no-repeat;
    color: #000;
    padding-left: 21px;
    display: block;

    text: {
      decoration: none;
      align: left;
    }

    cursor: hand;
    cursor: pointer;

    &:hover {
      background-color: #999999;
    }
  }
}

#video_object {
  float: none;
  //min-width: $video-control-width;
  /*border: #000000;
  border-style: solid;
  border-width: 1px;*/

  #playback_controls {
    text-align: left;
    padding-left: 5px;

    fieldset {
      border: none;
      margin-bottom: 10px;

      fieldset {
        border: none;
        margin: 3px 0 0;

        legend {
          padding: 0 0 5px;
          font-weight: normal;
        }

        label {
          display: block;
          width: auto;
          margin-left: 123px; /* Width plus 3 (html space) */
        }
      }

      ol {
        margin: 0;
        padding: 0;
      }

      li {
        list-style: none;
        padding: 5px;
        margin: 0;
      }
    }

    legend {
      padding: 0 2px;
      font-weight: bold;
    }

    label {
      display: inline-block;
      line-height: 1.8;
      vertical-align: top;
    }

    em {
      //color: #f00;
      vertical-align: super;
      font: {
        size: 8px;
        weight: bold;
        style: normal;
        variant: small-caps;
      };
    }

    label {
      width: 120px; /* Width of labels */
    }
  }
}
