// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CSS Tree menu styles
ol.tree {
  padding: 0 0 0 0px;
  //width: 100px;
}

li {
  position: relative;
  //margin-left: -15px;
  list-style: none;
}

li.file {
  margin-left: -1px !important;
}

li.file a {
  background: url(camera_icon.png) 0 0 no-repeat;
  color: #000;
  padding-left: 21px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: hand;
  cursor: pointer;
}

li input {
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 0;
}

li input + ol {
  background: url(toggle-small-expand.png) 40px 0 no-repeat;
  margin: -0.938em 0 -0 -44px; /* 15px */
  height: 1em;
}

li input + ol > li {
  display: none;
  margin-left: -14px !important;
  padding-left: 1px;
}

li label {
  background: url(folder-horizontal.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 37px;
}

li input:checked + ol {
  background: url(toggle-small.png) 40px 5px no-repeat;
  margin: -1.25em 0 0 -44px; /* 20px */
  padding: 1.563em 0 0 80px;
  height: auto;
}

li input:checked + ol > li {
  display: block;
  margin: 0 0 0.125em; /* 2px */
}

li input:checked + ol > li:last-child {
  margin: 0 0 0.063em; /* 1px */
}

/* My Styles */

#home_table {
  text-align: center;
  padding: 3px;
  margin: {
    left: auto;
    right: auto;
  }
}

.side_panel {
  position: relative;
  width: 150px;
  height: 480px;
  overflow: auto;

  p {
    font-variant: small-caps;
  }
}
