<h1>Editing warehouse</h1>

<%= render 'form' %>

<table>
  <tr>
    <td>
      <%= button_to 'Show', @warehouse, method: :get %>
    </td>
    <td>
      <%= button_to 'Return', warehouses_path, method: :get %>
    </td>
  </tr>
</table>
