<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @warehouse.label %>
</p>


<table>
  <tr>
    <td>
      <%= button_to 'Editar', edit_warehouse_path(@warehouse), method: :get %>
    </td>
    <td>
      <%= button_to 'Voltar', warehouses_path, method: :get %>
    </td>
  </tr>
</table>
